# виртуалки и кэш
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# локальные БД и артефакты
*.db
*.db-*
*.bak
reports/plots/

# Игнорировать базы/бэкапы в корне
/*.db
/*.db.bak
/*.json.bak

# Разрешаем данные в data/
!data/
!data/*.db
!data/*.json
!data/*.bak